.styleForSubCategoty {
  width: 200px;
  height: 30px;
  border-width: 1px;
  border-color: #dcdcdc;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styleForSubCategotyTree {
  width: 200px;
  height: 30px;
  border-width: 1px;
  border-color: #dcdcdc;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
}
